@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --clr-very-dark-magenta: hsla(300, 43%, 22%, 0.95);
    --clr-soft-pink: hsla(333, 80%, 67%);
    --clr-light-soft-pink: hsla(333, 80%, 67%, 0.1);
    --clr-dark-grayish-magenta: hsl(303, 10%, 53%);
    --clr-light-grayish-magenta: hsl(300, 24%, 96%);
    --clr-white: hsl(0, 0%, 100%);

    --fs-normal: 1.1rem;
    --fs-huge: 2.5rem;

    --lh-normal: 1.5rem;
    --lh-huge: 2rem;

    --fw-thin: 400;
    --fw-normal: 500;
    --fw-bold: 700;

    --spc-small: 0.6em;
    --spc-normal: 1em;
    --spc-large: 2em;
    --spc-larger: 3em;
    --spc-huge: 5em;

    --br-normal: 10px;
}

body {
    display: flex;
    flex-direction: column;

    font-size: var(--fs-normal);
    font-family: 'League Spartan', sans-serif;
    font-weight: var(--fw-thin);
    color: var(--clr-very-dark-magenta);

    background-size: 100%;
    background-color: var(--clr-light-grayish-magenta);
    background-image: url('images/bg-pattern-top-mobile.svg'), 
        url('images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

    padding: var(--spc-huge) 0;
}   

main {
    margin-bottom: var(--spc-larger)
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: var(--spc-large);
    line-height: var(--lh-normal);
}

.title > h1 {
    font-size: var(--fs-huge);
    font-weight: var(--fw-bold);
    margin-bottom: var(--spc-small);
    line-height: var(--lh-huge);
}

.title > p {
    color: var(--clr-dark-grayish-magenta);
}

.rating-container {
    margin-bottom: var(--spc-larger);
}

.rating {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--spc-small);
    background-color: var(--clr-light-soft-pink);
    border-radius: var(--br-normal);
}

.rating + .rating {
    margin-top: var(--spc-normal);
}

.rating > p {
    font-weight: var(--fw-bold);
}

.stars {
    display: flex;
    justify-content: center;
    gap: var(--spc-small);
    margin-bottom: var(--spc-small);
}

.review-card {
    background-color: var(--clr-very-dark-magenta);
    padding: var(--spc-large);
    border-radius: var(--br-normal);
    color: var(--clr-white);
    margin-bottom: var(--spc-normal);
}

.review-card > header {
    display: flex;
    align-items: center;
    margin-bottom: var(--spc-normal);
    height: 3em;
}

.customer-img {
    margin-right: var(--spc-normal);
    border-radius: 50%;
    height: 100%;
}

.review-card-title {
    font-weight: var(--fw-normal);
}

.review-card-title > h4 {
    color: var(--clr-soft-pink);
    font-weight: var(--fw-thin);
}

.review-card > p {
    line-height: var(--lh-normal);
}

@media screen and (min-width: 900px) {
    :root {
        --fs-normal: 1rem;
        --fs-huge: 3.5rem;
        --lh-huge: 3rem;
    }

    body {
        min-height: 100vh;
        background-image: url('images/bg-pattern-top-desktop.svg'), 
        url('images/bg-pattern-bottom-desktop.svg');
        background-size: 40%, 70%;
    }

    .container {
        display: flex;
        align-items: center;
    }

    .title {
        max-width: 700px;
        width: 100%;
        text-align: left;
    }

    .title > h1 {
        width: 70%;
        line-height: var(--lh-huge);
    }

    .title > p {
        width: 75%;
        font-weight: var(--fw-normal);
    }

    .rating-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 0;
    }

    .rating {
        width: 80%;
        flex-direction: row;
        padding: 0;
        align-items: center;
        padding: var(--spc-normal);
    }

    .rating:first-child {
        align-self: flex-start;
    }

    .rating:last-child {
        align-self: flex-end;
    }

    .stars {
        flex-wrap: wrap;
        margin: 0;
        margin-right: var(--spc-normal);
        width: 90px;
    }

    .reviews {
        height: 350px;
        margin-top: var(--spc-larger)
    }

    .review-card {
        max-height: 90%;
        margin: 0;
    }

    .review-card:first-child {
        align-self: flex-start;
    }

    .review-card:last-child {
        align-self: flex-end;
    }

    .review-card + .review-card {
        margin-left: var(--spc-large);
    }
}

@media screen and (min-width: 1200px) {
    .rating {
        padding: var(--spc-normal) var(--spc-large);
    }
    
    .stars {
        margin-right: var(--spc-large);
        width: auto;
        min-width: 125px;
    }

    .reviews {
        height: 300px;
    }
}

@media screen and (min-width: 1500px) {
    :root {
        --fs-normal: 1.1rem;
    }
}